body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    width: 300px;
    border-radius: 30px;
    background-color: lightblue;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
  
  h3 {
    color: red;
  }

  .display{
    padding: 1em;
    background: rgb(84, 98, 84);
    border-radius: 20px;
  }

  .keypad {
    width: 90%s;
    display: grid;
    grid-template-columns:  repeat(4, 1fr);
    /* grid-template-rows: repeat(5, 100px); */
    gap: 2em
  }

  .key{
    display: flex;
    justify-content: center;
    align-items: center;
    background: gray;
    width: 3em;
    aspect-ratio: 1/1;
    color: white;
    border-radius: 1000px;
    box-shadow: 6px 6px 6px 0 black;
}

.orange{
    background: orange;
}

.key:active {
    bottom: 5px;
    opacity: 0.8;
    box-shadow: 4px 4px 4px 0 black;
    
  }